
.fade-right-enter .animate {
  opacity: 0;
  transform: translateX(-20%);
}
.fade-right-enter-active .animate {
  opacity: 1;
  transform: translateX(0%);
}
.fade-right-exit .animate {
  opacity: 1;
  transform: translateX(0%);
}
.fade-right-exit-active .animate {
  opacity: 0;
  transform: translateX(20%);
}
.fade-right-enter-active .animate,
.fade-right-exit-active .animate {
  transition: opacity 200ms, transform 200ms;
}


.fade-left-enter .animate {
  opacity: 0;
  transform: translateX(20%);
}
.fade-left-enter-active .animate {
  opacity: 1;
  transform: translateX(0%);
}
.fade-left-exit .animate {
  opacity: 1;
  transform: translateX(0%);
}
.fade-left-exit-active .animate {
  opacity: 0;
  transform: translateX(-20%);
}
.fade-left-enter-active .animate,
.fade-left-exit-active .animate {
  transition: opacity 200ms, transform 200ms;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.calendar li {
  padding-top: 10px;
  width: calc(100% / 7);
  display: inline-block;
  border: 1px solid rgb(232, 232, 232);
  text-align: center;
}