.fade-right-enter .animate {
  opacity: 0;
  transform: translateX(-5%);
}
.fade-right-enter-active .animate {
  opacity: 1;
  transform: translateX(0%);
}
.fade-right-exit .animate {
  opacity: 1;
  transform: translateX(0%);
}
.fade-right-exit-active .animate {
  opacity: 0;
  transform: translateX(5%);
}
.fade-right-enter-active .animate,
.fade-right-exit-active .animate {
  transition: opacity 100ms, transform 100ms ease-out;
}

.fade-left-enter .animate {
  opacity: 0;
  transform: translateX(5%);
}
.fade-left-enter-active .animate {
  opacity: 1;
  transform: translateX(0%);
}
.fade-left-exit .animate {
  opacity: 1;
  transform: translateX(0%);
}
.fade-left-exit-active .animate {
  opacity: 0;
  transform: translateX(-5%);
}
.fade-left-enter-active .animate,
.fade-left-exit-active .animate {
  transition: opacity 100ms, transform 100ms ease-out;
}

.calendar {
  overflow-x: hidden;
  ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    height: 100%;
  }

  li {
    padding-top: 10px;
    display: inline-block;
    border: 1px solid rgb(232, 232, 232);
    text-align: center;
  }

  .today {
    background-color: var(--chakra-colors-blue-600);
    color: white;
    height: 40px;
    width: 40px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .week {
    .hour {
      margin-top: 0;
      text-align: center;
      border: 1px solid gainsboro;
    }

    .hour-indicator::after{
      content: "";
      position: absolute;
      width: 10px;
      height: 1px;
      background-color: gainsboro;
      top: 10px;
      right: -14px;
    }

    .hour ~ .hour {
      border-top: none;
    }
  }

  .week:not(:last-child) {
    .hour {
      border-right: none;
    }
  }
}
